.product-description {
  display: grid;

  padding: 80px 0 178px;
  grid-template-columns: 1fr 1002px 1fr;

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__small-image {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    object-fit: cover;

    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }
  }

  &__center {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__main-image {
    position: relative;

    width: 610px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__stock {
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;

    transform: translate(-50%, -50%);

    color: var(--light-text-color);

    font-size: 24px;
    font-weight: 400;
    line-height: 160%;

    &_not-available {
      display: block;

      & + img {
        opacity: 0.5;
      }
    }
  }

  &__description {
    width: 292px;
  }

  &__description-brand {
    color: var(--text-color);

    font-size: 30px;
    font-weight: 600;
    line-height: 27px;
  }

  &__description-name {
    margin-top: 16px;

    color: var(--text-color);

    font-size: 30px;
    font-weight: 400;
    line-height: 27px;
  }

  &__attributes {
    margin-top: 43px;
  }

  &__attribute {
    margin-top: 24px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__attribute-header {
    color: var(--text-color);

    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
  }

  &__price-header {
    margin-top: 36px;

    color: var(--text-color);

    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 18px;
  }

  &__price-number {
    margin-top: 20px;

    color: var(--text-color);

    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
  }

  &__add {
    width: 100%;
    margin-top: 30px;
    padding: 15px 0;

    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    text-transform: uppercase;

    color: #FFF;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);

    font-size: 16px;
    font-weight: 600;
    line-height: 120%;

    &:disabled {
      cursor: inherit;

      opacity: 0.5;
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      color: var(--primary-color);
      outline: none;
      background-color: #FFF;
    }

    &:focus:not(:disabled) {
      box-shadow: var(--primary-color) 0 0 4px 2px;
    }
  }

  &__text {
    margin-top: 40px;

    color: var(--text-color);

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
  }
}
