.product-description {
  padding: 80px 0 178px 0;
  display: grid;
  grid-template-columns: 1fr 1002px 1fr;
  &__left {
    display: flex;
    flex-direction: column;
  }
  &__small-image {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    object-fit: cover;
    cursor: pointer;
    &:first-child {
      margin-top: 0;
    }
  }
  &__center {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  &__main-image {
    position: relative;
    width: 610px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__stock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: var(--light-text-color);
    &_not-available {
      display: block;
      & + img {
        opacity: .5;
      }
    }
  }
  &__description {
    width: 292px;
  }
  &__description-brand {
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    color: var(--text-color);
  }
  &__description-name {
    margin-top: 16px;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    color: var(--text-color);
  }
  &__attributes {
    margin-top: 43px;
  }
  &__attribute {
    margin-top: 24px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__attribute-header {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--text-color);
  }
  &__price-header {
    margin-top: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--text-color);
  }
  &__price-number {
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    color: var(--text-color);
  }
  &__add {
    margin-top: 30px;
    width: 100%;
    padding: 15px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: var(--primary-color);
    transition: all .3s;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    &:hover:not(:disabled), &:focus:not(:disabled) {
      outline: none;
      color: var(--primary-color);
      background-color: #FFFFFF;
    }
    &:focus:not(:disabled) {
      box-shadow: var(--primary-color) 0 0 4px 2px;
    }
    &:disabled {
      opacity: .5;
      cursor: inherit;
    }
  }
  &__text {
    margin-top: 40px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--text-color);
  }
}