.currency-switcher {
  position: relative;

  color: var(--text-color);

  &__header {
    display: flex;

    cursor: pointer;
  }

  &__symbol {
    min-width: 30px;
    padding-right: 2px;
    padding-left: 10px;

    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
  }

  &__arrow {
    align-self: center;

    img {
      transition: all 0.5s;
    }

    &_active {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    position: absolute;
    z-index: 1;
    top: calc(100% + 8px);
    left: -11px;

    display: none;

    margin: 0;
    padding: 20px 0;

    list-style-type: none;

    background: #FFF;
    filter: drop-shadow(0 4px 35px rgb(168 172 176 / 19%));

    button {
      display: block;

      width: 100%;
      margin: 0;
      padding: 0;

      text-align-last: left;
    }

    &_visible {
      display: block;
    }
  }

  &__list-item {
    padding: 8px 40px 8px 20px;

    cursor: pointer;
    white-space: nowrap;

    font-size: 18px;
    font-weight: 500;
    line-height: 160%;

    &:hover,
    &:focus {
      background: #EEE;
    }
  }
}
