.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  &__plus, &__minus {
    width: 45px;
    height: 45px;
    border: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__count {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: var(--text-color);
  }
}