.small-cart-list {
  width: 325px;
  padding: 32px 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 160%;

  &__header-bold {
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
  }

  &__list {
    margin-top: 32px;
  }

  &__total {
    display: flex;
    justify-content: space-between;

    margin-top: 32px;
  }

  &__total-text {
    color: var(--text-color);

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  &__total-sum {
    color: var(--text-color);

    font-size: 16px;
    font-weight: 700;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 32px;
  }

  &__buttons-view-bag {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 140px;
    height: 43px;
    padding: 16px 32px;

    cursor: pointer;
    transition: all 0.3s;
    white-space: nowrap;
    text-transform: uppercase;

    color: #1D1F22;
    border: 1px solid var(--text-color);

    background: #FFF;

    font-size: 14px;

    font-weight: 600;
    line-height: 120%;

    &:hover,
    &:focus {
      color: #FFF;
      outline: none;
      background-color: var(--text-color);
    }

    &:focus {
      box-shadow: var(--text-color) 0 0 4px 2px;
    }
  }

  &__buttons-check-out {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 140px;
    height: 43px;
    padding: 16px 32px;

    cursor: pointer;
    transition: all 0.3s;
    white-space: nowrap;
    text-transform: uppercase;

    color: #FFF;
    border: 1px solid var(--primary-color);

    background: var(--primary-color);

    font-size: 14px;

    font-weight: 600;
    line-height: 120%;

    &:hover,
    &:focus {
      color: var(--primary-color);
      outline: none;
      background-color: #FFF;
    }

    &:focus {
      box-shadow: var(--primary-color) 0 0 4px 2px;
    }
  }
}
