.header-categories {
  display: flex;
  overflow-x: auto;

  max-width: 45%;

  &__item {
    padding: 0 16px 32px;

    cursor: pointer;
    text-transform: uppercase;

    color: var(--text-color);

    &_active {
      padding-bottom: 31px;

      color: var(--primary-color);
      border-bottom: 1px solid var(--primary-color);
    }

    &:hover,
    &:focus {
      color: var(--primary-color);
      outline: none;
    }
  }

  &::-webkit-scrollbar {
    height: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #F1F1F1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
